* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main {
    color: #231942;
    text-shadow: #BE95C4 1px 0 10px;
    text-align: center;
    padding-top: 4em;
}

body {
    background: url("../images/background.jpg");
	background-size: cover;
    background-attachment: fixed;
}